# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: a021c69863a2bfe2dbcad869cb9a59c55cb39f1d4c49886fd6cb0a6a6a318e5912837607ffd9d00638ba2af32d74787a018fa597559d0f367caea8ac5e4885fa

test:
  secret_key_base: f0716e44b1d185f8d6f10fce6b55b6eab2ae9981867641779a122033d9102309e364efd30c47331fbb85a09ed1f8e79007079cf4a8a64729d34387d829d6759c

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
