@import url('https://fonts.googleapis.com/css?family=Monoton');

.App {
  text-align: center;
}

.home h1 {
	font-size: 80px;
	font-family: 'Monoton', cursive;
}

.searchHeader {
	font-size: 45px;
}

.main-nav {
	height: 52px
}

.displayGrid {
	width: 1216px;
}

.ui.secondary.inverted.pointing.menu .item.search {
	padding-bottom: 0px
}

div.ui.inverted.segment {
	padding-top: 0px
}