@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Poller+One');
@import url('https://fonts.googleapis.com/css?family=Averia+Libre');


.App {
  text-align: center;
}

.home h1 {
	font-size: 80px;
	font-family: 'Monoton', cursive;
	text-shadow: 0.25px 0 white, 0 3px white, 3px 0 white, 0 0.25px white;
}

h2 {
	text-shadow: 0.25px 0 white, 0 3px white, 3px 0 white, 0 0.25px white;
}

.searchHeader {
	font-size: 45px;
}

.main-nav {
	height: 52px
}

.displayGrid {
	width: 1216px;
}

.ui.secondary.inverted.pointing.menu .item.search {
	padding-bottom: 0px
}

div.ui.inverted.segment {
	padding-top: 0px
}

.ui.card>.content .title.header {
	font-family: 'Poller One', cursive;
	padding: 2px;
}

.ui.card>.content, .ui.cards>.card>.content.header {
	background-color: lightyellow;
	max-height: 52px;
	padding: 8px;
}

.ui.inverted.yellow.basic.button:active {
	color: yellow;
}

/* change to LIGHT YELLOW!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.ui.card>.image, .ui.cards>.card>.image {
	height: 250px;
	width: 200px;
}

.ui.card>.content {
	color: black;
	font-family: 'Averia Libre', cursive;
}

 .border {
 	border: 3px black solid;
 }

.ui.selection.dropdown {
	border: 3px black solid;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(reel.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;  
}

/*body::after {
  content: "";
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
/*.background img {
	z-index: -1;
	position: absolute;
	opacity: 0.3;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
}*/

/*position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.2;
    z-index: -1;*/



